body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}



.App {
  display: flex;

}

.Tool {
  width: 15%;
  height: 100vh;
  background-color: rgb(243, 217, 179);
  border-right: 1px solid  #af9b7e;
}

main {
  width: 85%;
  height: 100vh;
  background-color: rgb(240, 224, 202);
}

.Tools_button div {
  height: 50px;
  width: 150px;
  border: 1px solid  rgb(20, 20, 20);
  
  text-align: center;
  line-height: 50px;
  margin: auto;
  margin-top: 20px;
}

.Tools_button  a {
  text-decoration: none;
  color: rgb(8, 8, 8);

}


.active  {
  background-color: #b8935e;
  height: 50px;
  color: white;
  transition: 0.3s;
  display:block;
}

