.Container {
    max-width: 70%;
    margin: auto;
}

.App-header {
    display: flex;
}

.Container-app-logo {
    width: 40%;
}

.Filter-container {
    display: flex;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    
}

.Select {
    min-width: 220px;
    margin-left: 30px;
}
.App-logo {
    width: 250px;
}

.Header-name {
    align-self: center;
    color: rgb(189, 29, 29);
    font-size: 25px
}
.Featured-house {
    font-size: 30px;
    background-color: brown;
    text-align: center;

}