


.House-Info {
    display: flex;
    justify-content: space-between;
}

.House-Description {
    margin-left: 50px;
}
.email {
    width: 50px;
}
.contact-form-active {
    display: block;
    margin-top: 20px;

}
.contact-form {
    display: none;
    margin-top: 20px;
  
}
input {
    margin:5px 0; 
}
input[type="submit"] {
    margin:10px 0; 
} 

label {
    width: 60px; 
    text-align: left; /* Выравниваем по правому краю */
    float: left; /* Выстраиваем элементы рядом */
    margin-right: 10px; /* Расстояние от текста до текстового поля */
    line-height: 30px; /* Выравниваем по высоте */
   }