
.container {
  width: 1000px;
  margin: auto;
}

p {
  display: inline;
  margin: 0;
}

.photo_header {
  /* height: 100%;
  width: 100%; */
  width: 150px;
  height: 150px;
  /* overflow: hidden;
  position: relative; */
  border-radius: 50%;
}

.about p {
  display:block;

}

.photo_header_container {
  /* width: 150px;
  height: 150px; */
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.name_profile {
  font-size: 25px;
  /* padding-left: 50px; */

}
.allInfoProfile {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.aboutProfile {
  padding-left: 50px;
}


.profile_edit {
  margin-left: auto;
  height: 25px;
}


.photo_galer {
  width: 100%;
}


.photo_item {
  width: 300px;
  height: 300px;

  padding: 15px;
}




div#root {
  overflow: auto;
  height: 100%;
}

.modal {
  background-color: rgba(29, 22, 22, 0.3);
 position: fixed;
  
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #170b2a;
 
  
}

.Open_modal {
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 70%;
  width: 55%;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  color: #170b2a;
  display: flex;
} 

.Hide {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #777475;
  margin: 24px 15px;
}

.Image_photo_modal {
  height: 100%;
  width: 60%;
}

.Modal_description {
  width: 40%;
}

.Modal_header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

}
.Modal_info_photo {
  height: 60%;
}

hr {

  margin: 0;
  background-color: rgba(156, 147, 147, 0.1); 
}
.photo_header_modal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
  
}
.name_profile_modal {
  display: inline;
  position: absolute;
  padding-left: 80px;
  padding-top: 27px;
}

.name_profile_modal2 {
  display: inline;
  position: absolute;
  padding-top: 20px;
  width: 220px;
  font-size: 14px;
}

.comment {
  width: 25px;
  height: 25px;
  padding-left: 10px;
  
}

.like {
  width: 25px;
  height: 25px;
  padding-left: 15px;
  padding-top: 10px;
  
}

.give_comment {
  width: 60%;
  
}
.area_comment {
  display: flex;
  margin-top: 20px;
}

textarea {
  border: none;
  outline: 0;
  padding: 0;
  resize: none;
  margin-left: 15px;
  margin-bottom: 0.5em;
 
}

::-webkit-input-placeholder {line-height:45.6px;  font: Arial;}

.sent {
  background: 0 0;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 13px;
  height: 48px;
  margin-left: 10px;
  color: rgb(40, 43, 42);
  outline: 0;
}


.comment_style {
  padding: 2px 15px;
  font-size: 14px;
}

.commentItem {
  display: flex;
}
.commentItem p {
  margin: 0;
}
.about {
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
}