body {
  margin: 0;
  padding: 0;
  background-color: #170b2a;
  color: antiquewhite;
  overflow: hidden;
  height: 100vh;
}

div#root {
  overflow: auto;
  height: 100%;
}

h2, p, div {
  margin: 0px;
  padding: 0px;
}

span {
  
  margin-left: 130px;
  display: inline-block;

}

.Show_favorite {
  font-size: 22px;
}

.Sorting {
 width: 90%;
 display: flex;
 margin-top: 100px;
 justify-content: space-between
 
}

p {
  padding-top: 5px;
  font-size: 18px;
  
}

.genre div {
  font-size: 18px;
}

section {
  position: relative;
}




select {
margin-left: 10px;
background-color: #e06787;
color: black;
 
}

.App  {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 130px;
    margin-right: 130px;
    justify-content: start ;
    padding: 0px;
}

.Film {
  margin-bottom: 30px;
  margin-right: 15px;
}

.Gallery:hover img.Film_cover {
  opacity: 0.3;
}

.Film_cover {
  position: relative;
}



.HoverImg {
    
    margin-top: -140px;
    position: absolute;
    
    transition: 1s ease-in;
}

.HoverImg p {
  padding-left: 15px;
  
}
.Rating {
  font-size: 30px;
}
.Not_found {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto
}

.Film_cover_favorite {
  position: relative;

}

.Star_active {
  position: absolute;
  left: 190px;
  height: 40px;
  font-size: 10px;
  top: 4px;
}


.Star {
  position: absolute;
  margin-top: -360px;
  font-size: 10px;
  left: 190px;
  height: 40px;
}


.Film_cover:hover {
  opacity: 0.3;
  
}



.modal {
  background-color: rgba(29, 22, 22, 0.3);
 position: fixed;
  
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #170b2a;
 
  
}

.Open_modal {
  background-color: rgb(240, 233, 233);
  position: fixed;
  height: 70%;
  width: 50%;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  color: #170b2a;
} 




.Film_information {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  
  
}

.Film_photo_modal {
  display: inline-block;
  margin-left: 30px;
}


.About_film_modal {
  display: inline-block;
  width: 400px;
  padding-right: 50px;
  padding-top: 0;
  
}
.header_modal {
  display: flex;
  justify-content: space-between;
  background-color: #170b2a;
  border: rgb(240, 233, 233) solid 1px ;
  align-items: center;
}



.Name_film_modal {
  color:#e06787;
  font-size: 24px;
  padding: 20px;
  padding-left: 30px;
 
  
}
.Info {
  
  font-size: 14px;
  overflow: hidden;
  width: 400px;
  height: 200px;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  
}

.Info_1  {
  font-size: 14x;
  overflow: scroll ;
  width: 400px;
  height: 250px;
  
}
.genre {
  font-size: 18px;
}
.About_film {
  margin-top: 10px;
  
}
.label {
  
  content: "Show alls";
  color: blue;
}
.Hide {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #e06787;
  
}
/* .name_profile_modal{

} */