.addEvent {
    background-color: rgba(29, 22, 22, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #170b2a;
   
    
  }

.Open_modal {
  background-color: #f0e9e9;
  position: fixed;
  height: 70%;
  width: 50%;
  top: 20px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  color: #170b2a;
} 

  

label {
  margin-left: 40px;
  width: 100px;
}

h2 {
    text-align: center
}

p { 
    display: flex;
    align-items: center;
    
}

.css-g1d714-ValueContainer {
  min-width: 100px;

}

.Hide {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-color: #f3d9b3;
  
}

.Name_event {

  color: black;
  font-size: 24px;
  padding-left: 30px;
  margin: 10px;
 
}

.header_modal {
  display: flex;
  justify-content: space-between;
  background-color: #b8935e;
  border: black solid 1px ;
  align-items: center;
  margin-bottom: 30px;
}

.Event_item {
  display: flex;
  margin: 40px;
 
}

.Delete {
  margin: 5px;
  display: inline;
}

.Edit {
  margin: 15px;
  display: inline;
}

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse
}

table {
  margin-left: 20px;
  position: relative;
}

th,td {
  width: 100px;
}

.participants {
  width: 135px;
}


/* tr:nth-child(even) {background: #af9b7e}
tr:nth-child(odd) {background: #f3d9b3;} */

.header {
  background-color: #af9b7e;
}

.number {
  width: 30px;
  text-align: center
}

.info_event_table td {
  padding-left: 5px;
}

.header_table {
  font-size: 25px;
  text-align: start;
  margin: 30px;
  font-weight: bold;
}

.add_event {
  margin: 30px 50px;
  font-size: 16px;
  background-color: #af9b7e
}

.Select_true {
  background-color: #b8935e
}

.Select_false {
  background-color: #f3d9b3
}

td.select_delete_edit  {
  border: none;
  background-color:rgb(240, 224, 202);
  /* display: flex;
  align-items: flex-end; */
}

tr, table {
  border: none;
}

.buttom_save {
  position: relative;
  left: 45%;
}

.add_location {
  margin: 20px;
}


.Select_location_list, .Unselect_location_list {
  margin-left: 10px;
  margin-right: 20px;
}
.Unselect_location_list {
  color:rgb(160, 70, 28);
}

.location_list {
  display: flex;
}

